body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight:bolder;
}
.heading-style{
    padding-top:  100px;
}
.header-title{
    font-size:66px;
}
.route-link{
    display: flex;
    align-items: center;
}
.route-link div a{
    text-decoration: none;
    padding-left: 25px;
    color: white
}
.dropdown-menu a{
    color: rgb(12, 12, 12)
}
.auth-style{
    color: black;
}
.auth-style:hover{
    color: orange;
    background-color:rgba(201, 131, 67, 0.973)
}
.nav-button{
    background-color:#FFF0ED;
       border:0;
       color: #FF8229;
}
.nav-button:hover{
    background-color:#FFF0ED;
}

.footer div a{
    display: inline-block;
    text-decoration: none;
    padding-left: 5px;
    color: white;
    font-size: 14px;
    padding-top: 5px;
}
.bg-1{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    right:0;
    top: 200px;

}
.bg-2{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    left:0;
    top: 1400px;

}
.bg-3{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    right:0;
    top: 3040px;

}
.shape1 {
	width: 934px;
  height: 778px;
  position:absolute;
    overflow: hidden;
    top: 0;
    left: 0;
	background-color: #D52A56;
    clip-path: polygon(0 0, 100% 0%, 85% 85%, 0% 100%);
    z-index: -1;
}
.shape2 {
	width: 934px;
  height: 778px;
  position:absolute;
    overflow: hidden;
    top: 0;
    left: 0;
	background-color:#FF852F;
    clip-path: polygon(0 0, 90% 0, 85% 85%, 0 94%);
    z-index: -1;
}
.shape3 {
	width: 934px;
  height: 778px;
  position:absolute;
    overflow: hidden;
    top: 0;
    left: 0;
	background-color: #491556;
    clip-path: polygon(0 0, 78% 0, 85% 85%, 0 94%);
    z-index: -1;
}
.btn-shape{
    width: 73px;
  height: 84px;
  position:absolute;
    overflow: hidden;
    border: 0;
    top: 720px;
    left: 200px;
	background-color: #491556;
    color: #D52A56;
    clip-path: polygon(0 22%, 100% 0, 100% 78%, 0 100%);
    /* z-index:-1; */
}
.shape4 {
	width: 750px;
     height: 670px;
    position:absolute;
    overflow: hidden;
    top: 1650px;
    right: 0;
	background-color: #491556;
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);

    z-index: -1;
}
.shape5 {
	width: 1250px;
     height: 550px;
    position:absolute;
    overflow: hidden;
    top: 4550;
    left: 0;
	background-color: #AAEEFD;
    clip-path: polygon(0 0, 87% 0, 100% 100%, 0 100%);
    
    z-index: -1;
}
.shape6 {
	width: 100%;
    height: 550px;
    position:relative;
    overflow: hidden;
    bottom:-30;
    left: 0;
	background-color: #D52A56;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    z-index: -1;
}
.shape7 {
	width: 100%;
     height: 550px;
    position:relative;
    overflow: hidden;
    bottom:0;
    left: 0;
	background-color: #461854;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
    z-index: auto;
}
.banner-sec{
    position: relative;
    top: 20px;
    right: 160px;
}
.banner-sec2{
    position: relative;
    bottom: -80px;
    right: -80px ;
}
.sami-sec{
    width: 380px;
    position: relative;
    top: -650px;
    right: -30px ;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    z-index:auto;
}
.right-img-sec{
    position: relative;
    top: -700px;
    left: 360px;
}
.agency-sec{
    position: relative;
    top: -20;
    left: -200px;
}
.management-sec{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    
}
.video-sec{
    padding-left:460px;
}
p{
    font: 400;
}
.img2{
    position: relative;
    bottom: 50px;
    right: -50px;
}
.quotetion{
    background-color: #A5E8C8;
    padding: 7px;
    border-radius: 50%;
    
}
.quotetion-position{
    position: relative;
    left: 150px;
    transform: rotate(180deg);
}
.conversion1{
    background-color: #A5E8C8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.conversion2{
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
.badge-icon{
    border-radius: 50%;
    position: relative;
    top:15px;
    right: -210px;
    z-index: 1;
    box-shadow: 0 0 15px gray;
}
.dollar{
    font-size:14px;
    font-weight:200;
}
.sm-line-height{
    line-height:15px;
    font-size:10px;
}
.md-line-height{
    line-height: 23px;
    font-size:15px;
}